

.logo_img {
    width: 110%;
    height: fit-content;
}
#logo_img{
    width: 10%;
    height: fit-content;
    margin-right: 2.5%;
}

.search_bar{
    margin-right: 13%;
}

/*#containr {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/

/*}*/
#whiteboard {
    width: 65%;
}

#nav_links{
    font-size: large;
    font-weight: 500;
    color: #1abc9c;
    margin-left: 7px;
}


/*Containter*/

@import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
:root {
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
    --font-sans: "Rubik", sans-serif;
    --font-serif: "Cardo", serif;
}






.page-content {
    display: grid;
    grid-gap: 5rem;
    padding: 3rem;
    max-width: 1300px;
    margin: 0 auto;
    font-family: var(--font-sans);
}
@media (min-width: 600px) {
    .page-content {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 800px) {
    .page-content {
        grid-template-columns: repeat(4, 1fr);
    }
}

.card {
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 3rem;
    margin: 1rem;
    width: 120%;

    text-align: center;
    color: whitesmoke;
    background-color: whitesmoke;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
    .card {
        height: 350px;
    }
}
.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
}
.card:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
    transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
}
.card:nth-child(1):before {
    background-image: url(https://www.axsos.me/fileadmin/template/media/axsos-logo.png);
    background-position: center;

}
.card:nth-child(2):before {
    background-image: url(https://media.licdn.com/dms/image/C4D0BAQEusQv93gwD2w/company-logo_200_200/0/1667900981277?e=2147483647&v=beta&t=ziViULdwSJKK8dUp59beaJqJZrr7oiZAwxTx5HtJIso);
    background-position: center;
}
.card:nth-child(3):before {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/4/43/Freightos.png);
    background-position: center;
}
.card:nth-child(4):before {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAKoAAACqCAMAAAAKqCSwAAAAclBMVEX3+fphm7l4eHh6fH2vzNvk7fKMt8yfwtTb6O3t8/bV5OyGs8mWvNB4qsOCr8fF2uSnx9ff4eFxpcCZvdHr7e670+BpoLyChIXO3+jm6Om20N6Ji4yUlZacnZ2eoKGSkpK2t7e+v8CoqavHyMjZ29yxsrLSlP/BAAACB0lEQVR4nO3W61aqQBiA4aEgQUBUpEy3bWvb/d9izADCwBzaa2GtVe/zy4BPXomTEAAAAAAAAAAAAAAAAAAAAAAAAD9OEtTS6fKVXF58fY/DvKlxuDCq6nXPG2Va0CzfCRGFBod95EqtwnArl2fa0N77s7PAIpOpx3vpT6IPPT/dSaf649Iyncb21Nw4sfalprZSlWpuHZRaU9t/74yplXVPTeq1dVraLLKnBtG8qeqgZtZzVYWp1lNfehyUisg0Wj7Krw1tqessUxuk2ZDvIpMjC/cmm6b1pf1z15YmrpmqK5zxDiAnDp5ttNa29K+zVOzl9+bzp+YPY7Gx9U1+bkt3/dplWE6+YHWj1KnxLe7StNZ9G1V6HJSW1svqS1KX481OXepFpZ77NaG19HtS31Tpsf60U6l3r92axF56i9R1PDa6ZprSJ/V8fdVb1fUThMuRw41SQ882w9Jr67/mr6pr0ul3gK0l1bdjnXxtyOPIIO7eONrSSzdyHrY2R7UYDxdaarDQ9iDn1KNnq825b3+u67d9sIr3UaneGn3mXNWpY2x4SfI9WGNf6rRUb3X8VnVePJpTDe8e3jcr+/uKSj2r0vuLPvTetyYrd2oxaW3O3If/TxVxubWnmkuvrWr5IZ0euT5VRGWur28vsiId7defCgAAAAAAAAAAAAAAAAAAAAAAAPxaH2CNH9rqbgxVAAAAAElFTkSuQmCC);
    background-position: center;
}
.card:nth-child(5):before {
    background-image: url(https://media.licdn.com/dms/image/C4D0BAQGZ0V5c-muKYg/company-logo_200_200/0/1519915926261?e=2147483647&v=beta&t=FAXOtggpN90NAFMxiTebUhDs9rM8O5lcHnm1IM07xjA);
    background-position: center;
}

.card:nth-child(6):before {
    background-image: url(https://ssw-portal.s3.amazonaws.com/company/71835/dJwX89YbdbeJmhbR2TqtiB.png);
    background-position: center;
}
.card:nth-child(7):before {
    background-image: url(https://www.bisan.com/storage/settings/December2020/VkQlzMMJjiZtWCXyVav3.png);
    background-position: center;
}
.card:nth-child(8):before {
    background-image: url(https://www.upwork.com/static/marketing/ui/master/img/logo-1200x630.png);
    background-position: center;
}
.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    transition: transform var(--d) var(--e);
    z-index: 1;
}
.content > * + * {
    margin-top: 1rem;
}

.title {
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.2;
}

.copy {
    font-family: var(--font-serif);
    font-size: 1.125rem;
    font-style: italic;
    line-height: 1.35;
}

.bttn {
    cursor: pointer;
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 0.65rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    color: white;
    background-color: black;
    border: none;
}
.bttn:hover {
    background-color: #0d0d0d;
}
.bttn:focus {
    outline: 1px dashed yellow;
    outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
    .card:after {
        transform: translateY(0);
    }

    .content {
        transform: translateY(calc(100% - 4.5rem));
    }
    .content > *:not(.title) {
        opacity: 0;
        transform: translateY(1rem);
        transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    }

    .card:hover,
    .card:focus-within {
        align-items: center;
    }
    .card:hover:before,
    .card:focus-within:before {
        transform: translateY(-4%);
    }
    .card:hover:after,
    .card:focus-within:after {
        transform: translateY(-50%);
    }
    .card:hover .content,
    .card:focus-within .content {
        transform: translateY(0);
    }
    .card:hover .content > *:not(.title),
    .card:focus-within .content > *:not(.title) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(var(--d) / 8);
    }

    .card:focus-within:before, .card:focus-within:after,
    .card:focus-within .content,
    .card:focus-within .content > *:not(.title) {
        transition-duration: 0s;
    }
}