/*body {*/
/*    background-size: cover;*/
/*    background: url(../43535.jpg) no-repeat;*/
/*    height: 100vh;*/
/*    width: 100%;*/
/*}*/

.logo_img {
    width: 110%;
    height: fit-content;
}
#logo_img{
    width: 10%;
    height: fit-content;
    margin-right: 2.5%;
}

.search_bar{
    margin-right: 13%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#pro_bro {
    width: 110%;
    margin-top: 20px;
}

.pro_bro {
    flex: 1;
}
.slogan {
    flex: 1;
}

#nav_links{
    font-size: large;
    font-weight: 500;
    color: #1abc9c;
    margin-left: 7px;
}

.slogan_text {
    color: #1abc9c;
}